<!DOCTYPE html>
<html>
    <head>
        
<meta charset="UTF-8">
<title>B2展厅 </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta content="" name="keywords" />
<meta content="" name="description" />
<!-- CSS -->
<link rel="stylesheet" href="/Application/Mobile/Static/css/amazeui.min.css"/>
<!-- JS -->
<script src="/Application/Mobile/Static/js/jquery.min.js"></script>
<script src="/Application/Mobile/Static/js/amazeui.js"></script>

<script src="/Application/Mobile/Static/js/sweetalert2.min.js"></script>
<!-- <script type="text/javascript" src="/themes/default/styles/js/vue.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="/Application/Mobile/Static/css/sweetalert2.min.css">

<!--用于加载顶部css和js-->

<style>

body{max-width: 540px;margin: 0 auto}
</style>
<script>
    //全局内容的定义
    
</script>
</head>
<body>
        <!-- 头部 -->
    <!--      -->
        <!-- /头部 -->

        <!-- 主体 -->
<style type="text/css">
  .area.J polygon {
    fill: #cfe9c2;
  }
  .area-name {
    fill: #1f1f1f;
    font-size: 10rem;
  }
  .area.active {
    opacity: 0;
  }
  .detail {
    display: none;
  }
  .area.active + .detail {
    display: inline;
  }
  .detail polygon {
    stroke: #999;
    fill: #3efaca;
    stroke-width: .1rem;
  }
  .detail .reserve polygon {
    fill: #dde0e2;
  }
</style>
<div id="mob-main-container" class="container">
   

  <div class="topbar">
   <!-- <img src="/Application/Mobile/Static/images/navx.jpg" width="100%"> -->
   <img src="/Application/Mobile/Static/images/navx.jpg" width="100%">
  </div>

  <div data-am-widget="tabs" class="am-tabs am-tabs-d2" style="width: 100%;margin: 0 auto;border-top: solid 1px #ddd;">
    <ul class="am-tabs-nav am-cf">
      <li class="am-active"><a href="[data-tab-panel-0]">B1展厅</a></li>
      <li class=""><a href="[data-tab-panel-1]">B2展厅</a></li>
    </ul>
    <div class="am-tabs-bd" style="border: none;z-index: 0">
      <div data-tab-panel-0 class="am-tab-panel am-active" style="padding: 0;">
         <!--begin-->
        <div style="height: 30px"></div>
        <svg  width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" preserveAspectRatio="xMinYMin slice" viewBox="0 0 4320 4595">
          <g id="background">
             <image x="0" y="0" width="4320" height="4595" xlink:href="/Application/Mobile/Static/images/areaB1.jpg"></image> 
          </g>

          <g class="areaGroup" v-for="(item, zoneIndex) in zoneData1" :key="item.zoneName">
            <g :class="['area', item.zoneLetter, {active: item.active}]" @click="showZoonB1(item.zoneLetter, zoneIndex)">
              <polygon :points="item.zonePoints"></polygon>
              <text class="area-name" :x="item.zoneNameX" :y="item.zoneNameY">{{item.zoneName}}</text>
            </g>
            <g class="detail">
              <area-cell :class="{reserve: cell.reserve}" v-for="cell in item.cellList" :key="cell.areaNo" :coor="cell.coor" :area-no="cell.areaNo"></area-cell>
            </g>
          </g>

        </svg>
        <!--end-->
      </div>  
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(e) {
    //$(".mask").hide();
    $(".mask").click(function(){
      $(".mask").attr("style","opacity:1");
      $(".detail").hide();
      $(this).attr("style","opacity:0");
    $(this).next().show();
    });
  });
</script>
<script type="text/javascript" src="./areaData.js"></script>
<script type="text/javascript">
  Vue.component('area-cell', {
    props: ['coor', 'areaNo'],
    methods: {
      polygonPoints: function () {
        var x = this.coor[0]
        var y = this.coor[1]
        var points = x + ',' + y + ' ' + x + ',' + (y + 83) + ' ' + (x + 83) + ',' + (y + 83) + ' ' + (x + 83) + ',' + y
        var textX = x + 10
        var textY = y + 53
        return {
          points: points,
          textX: textX,
          textY: textY
        }
      }
    },
    template: '<g><polygon class="sav" :points="polygonPoints().points"></polygon><text :x="polygonPoints().textX" :y="polygonPoints().textY" class="area-text" fill="black" style="font-size: 3rem;">{{areaNo}}</text></g>'
  })


  var app = new Vue({
    el: '#mob-main-container',
    data: {
      activity: [],
      zoneData1: zoneDataB1
    },
    created: function () {
      console.log(this.zoneData1)
    },
    methods: {
      showZoonB1 (zoneLetter, zoneIndex) {
        console.log(zoneLetter, zoneIndex)
        let index = this.zoneData1.findIndex(function (item) {
          return item.zoneLetter == zoneLetter
        })
        if (index > -1) {
          this.zoneData1[index].active = false
        }
        this.zoneData1[zoneIndex].active = true
      },
      loadData: function () {
        var url = 'https://www.x-pingic.com/ASEAN_Mining/onLine_Opening_Forum/queryForumList'
        $.get(url, {}, function (data) {
          console.log(data)
          var date = data.map(function (item) {
            return item.opData
          })
          for (var i = 0; i < date.length; i ++) {
            if (date[i] === date[i + 1]) {
              date.splice(i, 1)
              i -= 1
            }
          }
          let activity = date.map(function (item) {
            var activityItem = data.filter(function (act) {
              return act.opData === item
            })
            return {
              date: item,
              list: activityItem
            }
          })
          app.activity = activity
          console.log(activity)
          // app.content = data.guideContent
        }, 'json')
      }
    }
  })
</script>
<style type="text/css">
.home a {background: url(/Application/Mobile/Static/images/home.png) no-repeat center center;width: 3.8rem; height:3.8rem; display: block;margin: 0 0 0 auto; background-size: cover;}
.home {position: fixed;bottom: 5rem; right:3.5rem;z-index: 99;width:4rem;max-width: 16rem;opacity: 0.85;text-align: right;}
</style>

<div class="home"><a href="/"></a></div>

<div style="height:70px;clear:both; "></div>

<footer style="width: 100%;clear:both;background-color:#154da0; height:1.8rem; text-align:center; font-size:1.2rem; color:#fff;line-height:1.8rem">技术支持：杭州拼格文化创意有限公司</footer>
        <!-- /底部 -->
    </body>
</html>