@import "./icon.scss";

html, body {
  width: 100%;
  height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  color: #303133;
}
a {
  text-decoration: none;
  color: inherit;
}

.clearfix:before, .clearfix:after{content:"";display:table;line-height:0;}
.clearfix:after{clear:both;} 
.clearfix{*zoom:1;}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main {
  width: 100%;
  height: 100%;
}